<h2>Zad 1</h2>
<div class="conatiner">
    User:<br>
    <div>
        <input type="text" [(ngModel)]="login" (keyup)="valid()">
        @if(statusLogin=='tak')
        {
            <img width="20px" height="20px" src="images/approve.jpg" >
        }
        @if(statusLogin=='nie')
        {
            <img width="20px" height="20px" src="images/deny.png">
        }
    </div>
    
    <br>
    Password: (min 8 znakow)<br>
    <div>
        <input type="password" [(ngModel)]="password" (keyup)="valid()">
        @if(statusPassword=='tak')
        {
            <img width="20px" height="20px" src="images/approve.jpg">
        }
        @if(statusPassword=='nie')
        {
            <img width="20px" height="20px" src="images/deny.png">
        }
    </div>
    
</div>

