.items
{
    margin: auto;
}
.containerCard
{
    width: 300px;
    float: left;
    height: 150px;
    background-color: white;
    margin: 10px;
    box-shadow: 1px 3px 3px rgb(190, 175, 175);
    text-align: center;
}
.containerCard a
{
    text-align: center;
    font-size: 24px;
    color: black;
}