div p:first-child
{
    font-size: 32px;
}
div p
{
    font-size: 20px;
    color: darkblue;
}
a
{
    text-decoration: none;
    font-size: 32px;
    color: darkblue;

}
a:hover
{
    filter: brightness(400%);
}